<!DOCTYPE html>
<html>
  <head>
    <title>Thanks for your feedback</title>
    <link rel="stylesheet" type="text/css" href="css/feedback.css" />
  </head>
  <body>
    <h1>Thanks for your feedback!</h1>
    <p>We appreciate you taking the time to share your thoughts with us.</p>
  </body>
</html>
