body {
  background-image: url("https://png.pngtree.com/background/20210716/original/pngtree-starry-galaxy-starry-night-sky-halo-starlight-background-picture-image_1331900.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-container {
  background-color: #fff;
  width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  color: black;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-login {
  background-color: #3366cc;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #254e8c;
}
